
$color-violet: #674BAF;
$color-grey: #808D99;
$color-white: #FFF;
$color-black: #000;
$color-pink: #FF52BF;
$color-darkCyan: #00252E;

$font-body: 'Open Sans', sans-serif;
$font-headings: 'Poppins', sans-serif;


$bp-phone: 37.5em; // 600px/16px