
$color-violet: #674BAF;
$color-grey: #808D99;
$color-white: #FFF;
$color-black: #000;
$color-pink: #FF52BF;
$color-darkCyan: #00252E;
$color-lightBlue: #f4f8fc;

$font-body: 'Open Sans', sans-serif;
$font-headings: 'Poppins', sans-serif;


$bp-tab-land: 75em; // 1200px/16px
$bp-tab-port: 56.25em; // 900px/16px
$bp-phone: 37.5em; // 600px/16px